################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Bakup file
*.[Bb]ak

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/



# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# Uncomment to keep track of directories ending in .cache
#!?*.[Cc]ache/

# All Result.txt files produced by IntegrationTest/DBScripts scripts
IntegrationTest/**/Result.txt
**/TestResults/*

# License.log files
**/License.log